<p id="notice"><%= notice %></p>
<div class="row">
  <div class="table-responsive">
    <% if !@cart.empty? %>
      <h1 class="text-center">Creating Invoice</h1>
      <table class="table">
        <% total = 0 %>
        <% items = 0 %>
        <thead>
        <tr class="success">
          <!-- Table Headers for Cart-->
          <th>Item Name</th>
          <th></th>
          <th></th>
          <th>Price</th>
          <th>Qty.</th>
          <th>Sub-total</th>
          <th class="text-center">Action</th>
        </tr>
        </thead>
        <tbody>
        <% @cart.each do |id, quantity| %>
          <tr class="active">
            <!-- check if the item exists to avoid throwing an error and breaking the session cart -->
            <% if Item.exists?(id)
                 item = Item.find_by_id(id) %>
              <!-- if item !exist, nothing will happen to alter the cart -->

              <td><h3><%= link_to item.name, item %></h3></td>
              <td><a href="/cart/increase/<%= item.id %>"><h3 style="text-align:center;">+</h3></a></td>
              <td><a href="/cart/decrease/<%= item.id %>"><h3 style="text-align:center;">-</h3></a></td>
              <td><h3><%= number_to_currency(item.price, :unit => "€") %></h3></td>
              <td><h3><%= quantity %></h3></td>
              <td><h3><%= number_to_currency(quantity * item.price, :unit => "€") %></h3></td>
              <td class="text-center">
                <h3><a href="/cart/remove/<%= item.id %>" class="btn btn-md btn-danger">Remove</a></h3></td>
              <% items += quantity %>
              <% total += quantity * item.price %>
            <% end %>
          </tr>

        <% end %>
        </tbody>
        <tfoot>
        <tr class="success">
          <th colspan="6"><h2 class="text-right">Grand Total (<%= items %> items): </h2></th>
          <th colspan="2"><h2 class="text-left"><%= number_to_currency(total, :unit => "€") %></h2></th>
        </tr>
        </tfoot>
      </table>
    <% end %>

    <!-- these design for checkout -->
    <% if @cart.empty? %>
      <div class="text-center">
        <h3> Your cart is empty! </h3>
        <h5><%= link_to "Vew Items", items_path, class: 'btn btn-md btn-primary' %></h5>
      </div>
    <% else %>

      <div class="text-center" style="margin:25px auto;" id="cartBtnGroup">
        <%= link_to "Add Another Item", items_path, class: 'btn btn-md btn-primary' %>
        <%= link_to "Create", checkout_path , class: 'btn btn-md btn-success' %>
        <%= link_to "Empty Table", clear_cart_path, class: 'btn btn-md btn-danger' %>
      </div>
    <% end %>
    <!-- end of check link -->
  </div>
</div>

