<div class="flex-row">
  <p id="notice"><%= notice %></p>

  <h3 class="mb-5 mt-5">List of Invoices</h3>
  <p class="m-2"><%= link_to 'Create Invoice', items_path,class: "btn btn-success btn-md"%></p>
  <table class="table">
    <thead>
    <tr>
      <th>Invoice  date</th>
      <th>Invoice ID</th>
      <th>Customer Name</th>
      <th>Invoice Status</th>
      <th style="text-align:center;">Action</th>
    </tr>
    </thead>

    <tbody>
    <% @invoices.each do |invoice| %>
      <% @user = User.find(invoice.user_id).name %>
      <tr>
        <td><%= invoice.date_of_invoice %></td>
        <td><%= invoice.id %></td>
        <td><%= @user %></td>
        <td><%= invoice.status %></td>
        <td class="text-center"><%= link_to 'Show', invoice ,class: "btn btn-primary btn-md"%>
          <%= link_to 'Edit', edit_invoice_path(invoice),class: "btn btn-warning btn-md" %>
          <%= link_to 'Delete', invoice, method: :delete, data: { confirm: 'Are you sure?' } ,class: "btn btn-danger btn-md"%></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>