<div class="flex-row">
  <p id="notice"><%= notice %></p>
  <h3 class="mb-5 mt-5">User Info</h3>
  <h5>
    <strong>Id:</strong>
    <%= @user.id %>
  </h5>
  <h5>
    <strong>Name:</strong>
    <%= @user.name %>
  </h5>
  <h5>
    <strong>Address:</strong>
    <%= @user.address %>
  </h5>
  <h5>
    <strong>Email:</strong>
    <%= @user.email %>
  </h5>
  <p class="pt-5">
    <%= link_to 'Edit', edit_user_path(@user), class: "btn btn-primary btn-md" %>
    <%= link_to 'Back', users_path, class: "btn btn-success btn-md" %>
  </p>
</div>
