<!DOCTYPE html>
<html>
  <head>
    <title>SsdProjectFinalPart</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <main>
      <div class="container" style="margin: 150px auto">
        <h1 class="text-center">Welcome to Invoicing system</h1>
        <%= render 'layouts/partials/tabs' %>
        <%= yield %>
      </div>
    </main>
  </body>
</html>
